# Maven build output
target/

# Java compiled files
*.class
*.jar
*.war

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IntelliJ
.idea/
*.iml

# Eclipse / STS
.project
.classpath
.settings/

# VS Code
.vscode/

# Temp files
*.tmp
*.swp

# Environment files / secrets
.env
application-local.properties
db.properties